# Working with dataframes !

## Create an empy dataframe

In [ ]:
import pandas as pd
df_empty = pd.DataFrame()
df_empty

## Create a dataframe with students Juan and Maria, wiht age 30 and 28

In [ ]:
df = pd.DataFrame({'Students': ['Juan', 'Maria'], 'Age': [30, 28]})
df

## Load file from 
1. Download csv from https://data.fivethirtyeight.com/ : Dear Mona Followup: Where Do People Drink The Most Beer, Wine And Spirits?
2. Load the file into a csv

In [ ]:
df_mona = pd.read_csv('drinks.csv')

## Show the columns of the dataframe

In [ ]:
df_mona.columns

## Show the first 10 rows of the dataframe

In [ ]:
#print(df_mona.loc[0:9, :])
df_mona.head(10)

## Show the values for country column

In [ ]:
df_mona['country']

## Show the values for country and total_litres_of_pure_alcohol

In [ ]:
df_mona[['country', 'total_litres_of_pure_alcohol']]

## Find the value of total_litres_of_pure_alcohol for Uruguay

In [ ]:
df_mona[lambda df_mona: df_mona['country'] == 'Uruguay']['total_litres_of_pure_alcohol']

## What is the maximum value of beer_servings

In [ ]:
df_mona['beer_servings'].max()

## Which country has more beer consumption?

In [ ]:
index_max = df_mona['beer_servings'].idxmax(axis = 1)
df_mona.loc[index_max, 'country']

## What are the 5 countries with more beer consumption?

In [ ]:
df_ordered = df_mona.sort_values(by=['beer_servings'], ascending=False).reset_index()
df_ordered.loc[0:4, 'country']

## Calculate the total servings (the sum of beer, spirit and wine) for each country, adding a new column to the dataframe

In [ ]:
df_mona['total_servings'] = df_mona['beer_servings'] + df_mona['spirit_servings'] + df_mona['wine_servings']
df_mona['total_servings']

## Get the mean of the beer consumption

In [ ]:
df_mona['beer_servings'].mean()

## Delete the column total_litres_of_pure_alcohol

In [ ]:
df_mona.drop(columns='total_litres_of_pure_alcohol', inplace=True)
df_mona.columns